# Create SQL DataBase Explore

In [23]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

In [24]:
load_dotenv
connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}/{os.getenv('DB_NAME')}"
print("Starting the connection...")
engine = create_engine(connection_string, isolation_level="AUTOCOMMIT")
engine.connect()
print("Connected successfully!")

Starting the connection...
Connected successfully!

In [25]:
if engine is None:
    exit()

In [26]:
engine

Engine(postgresql://brenda333:***@localhost/exoplanets)

## Creación de tablas. 
Se crearán tres tablas relacionadas con información de exoplanetas, la primera tabla contendrá exoplanetas diversos, la segunda tabla contendrá exoplanetas potencialmente habitables y por último, se agregará una tabla con información de exoplanetas que no orbitan una estrella:

In [27]:

with engine.connect() as connection:
    connection.execute(text("""
        CREATE TABLE IF NOT EXISTS exoplanets (
            id SERIAL PRIMARY KEY,
            nombre TEXT,
            masa NUMERIC,
            radio NUMERIC,
            estrella TEXT
        );
    """))

    connection.execute(text("""
        CREATE TABLE IF NOT EXISTS potentially_habitable_exoplanets (
            id SERIAL PRIMARY KEY,
            nombre TEXT,
            masa NUMERIC,
            radio NUMERIC,
            temperatura_superficie NUMERIC
        );
    """))

    connection.execute(text("""
        CREATE TABLE IF NOT EXISTS exoplanetas_without_star (
            id SERIAL PRIMARY KEY,
            nombre TEXT,
            masa NUMERIC,
            radio NUMERIC
        );
    """))

## Insertar información. 
Primero se crearán arreglos con la información que se insertará en las tablas.

In [28]:
# Información de 10 exoplanetas
exoplanetas = [
    {"nombre": "Kepler-22b", "masa": 2.4, "radio": 1.2, "estrella": "Kepler-22"},
    {"nombre": "HD 209458 b", "masa": 0.69, "radio": 1.38, "estrella": "HD 209458"},
    {"nombre": "GJ 1214 b", "masa": 6.26, "radio": 2.85, "estrella": "GJ 1214"},
    {"nombre": "TRAPPIST-1e", "masa": 0.62, "radio": 0.91, "estrella": "TRAPPIST-1"},
    {"nombre": "Proxima Centauri b", "masa": 1.27, "radio": 1.1, "estrella": "Proxima Centauri"},
    {"nombre": "WASP-12b", "masa": 1.4, "radio": 1.8, "estrella": "WASP-12"},
    {"nombre": "Gliese 581g", "masa": 3.1, "radio": 1.5, "estrella": "Gliese 581"},
    {"nombre": "HD 189733 b", "masa": 1.13, "radio": 1.14, "estrella": "HD 189733"},
    {"nombre": "55 Cancri e", "masa": 8.08, "radio": 1.91, "estrella": "55 Cancri"},
    {"nombre": "K2-18b", "masa": 8.6, "radio": 2.6, "estrella": "K2-18"}
]

potentially_habitable_exoplanets = [
    {"nombre": "Kepler-442b", "masa": 2.36, "radio": 1.34, "temperatura_superficie": 273},
    {"nombre": "Kepler-186f", "masa": 1.4, "radio": 1.1, "temperatura_superficie": 260},
    {"nombre": "LHS 1140 b", "masa": 6.6, "radio": 1.43, "temperatura_superficie": 230},
    {"nombre": "TOI-700 d", "masa": 1.72, "radio": 1.19, "temperatura_superficie": 288},
    {"nombre": "Teegarden b", "masa": 1.05, "radio": 1.02, "temperatura_superficie": 282},
    {"nombre": "TRAPPIST-1d", "masa": 0.41, "radio": 0.77, "temperatura_superficie": 251},
    {"nombre": "Gliese 667 Cc", "masa": 3.8, "radio": 1.5, "temperatura_superficie": 277},
    {"nombre": "K2-18b", "masa": 8.6, "radio": 2.6, "temperatura_superficie": 284},
    {"nombre": "Ross 128 b", "masa": 1.35, "radio": 1.1, "temperatura_superficie": 294},
    {"nombre": "Kepler-62f", "masa": 2.8, "radio": 1.41, "temperatura_superficie": 255}
]

exoplanets_without_star = [
    {"nombre": "CFBDSIR 2149-0403", "masa": 4.0, "radio": 1.2},
    {"nombre": "OGLE-2016-BLG-1928", "masa": 0.8, "radio": 1.0},
    {"nombre": "PSO J318.5-22", "masa": 6.5, "radio": 1.4},
    {"nombre": "WISEA J1147-2040", "masa": 5.5, "radio": 1.3},
    {"nombre": "Cha 110913-773444", "masa": 8.0, "radio": 1.6},
    {"nombre": "2MASS J1119-1137", "masa": 4.2, "radio": 1.2},
    {"nombre": "SIMP J013656.5+093347", "masa": 12.7, "radio": 1.7},
    {"nombre": "UScoCTIO 108B", "masa": 14.0, "radio": 1.9},
    {"nombre": "OGLE-2012-BLG-1323", "masa": 1.0, "radio": 1.1},
    {"nombre": "Microlensing Event MOA-2011-BLG-262", "masa": 0.9, "radio": 0.9}
]

Con los datos listos, se insertan en las tablas:

In [29]:
# Insertar información en la tabla
with engine.connect() as connection:
    connection.execute(text("""
        INSERT INTO exoplanets (nombre, masa, radio, estrella)
        VALUES (:nombre, :masa, :radio, :estrella)
    """), exoplanetas)

    connection.execute(text("""
        INSERT INTO potentially_habitable_exoplanets (nombre, masa, radio, temperatura_superficie)
        VALUES (:nombre, :masa, :radio, :temperatura_superficie)
    """), potentially_habitable_exoplanets)

    # Exoplanetas sin estrella
    connection.execute(text("""
        INSERT INTO exoplanetas_without_star (nombre, masa, radio)
        VALUES (:nombre, :masa, :radio)
    """), exoplanets_without_star)

## Leer información de las tablas

Ahora, se leerá la data de la tabla en SQL:

In [ ]:
# Tabla generica de exoplanetas
df = pd.read_sql("SELECT * FROM exoplanets", con=engine)
df.head()

   id              nombre  masa  radio          estrella
0   1          Kepler-22b  2.40   1.20         Kepler-22
1   2         HD 209458 b  0.69   1.38         HD 209458
2   3           GJ 1214 b  6.26   2.85           GJ 1214
3   4         TRAPPIST-1e  0.62   0.91        TRAPPIST-1
4   5  Proxima Centauri b  1.27   1.10  Proxima Centauri

In [32]:
# Tabla generica de exoplanetas
df = pd.read_sql("SELECT * FROM potentially_habitable_exoplanets", con=engine)
df.head()

   id       nombre  masa  radio  temperatura_superficie
0   1  Kepler-442b  2.36   1.34                   273.0
1   2  Kepler-186f  1.40   1.10                   260.0
2   3   LHS 1140 b  6.60   1.43                   230.0
3   4    TOI-700 d  1.72   1.19                   288.0
4   5  Teegarden b  1.05   1.02                   282.0

In [33]:
# Tabla generica de exoplanetas
df = pd.read_sql("SELECT * FROM exoplanetas_without_star", con=engine)
df.head()

   id              nombre  masa  radio
0   1   CFBDSIR 2149-0403   4.0    1.2
1   2  OGLE-2016-BLG-1928   0.8    1.0
2   3       PSO J318.5-22   6.5    1.4
3   4    WISEA J1147-2040   5.5    1.3
4   5   Cha 110913-773444   8.0    1.6